html {
	font-family: sans-serif;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
  }
  body {
	margin: 0;
  }
  article,
  aside,
  details,
  figcaption,
  figure,
  footer,
  header,
  main,
  menu,
  nav,
  section,
  summary {
	display: block;
  }
  audio,
  canvas,
  progress,
  video {
	display: inline-block;
  }
  audio:not([controls]) {
	display: none;
	height: 0;
  }
  progress {
	vertical-align: baseline;
  }
  [hidden],
  template {
	display: none;
  }
  a {
	background-color: transparent;
	-webkit-text-decoration-skip: objects;
  }
  a:active,
  a:hover {
	outline-width: 0;
  }
  abbr[title] {
	border-bottom: none;
	text-decoration: underline;
	text-decoration: underline dotted;
  }
  b,
  strong {
	font-weight: inherit;
	font-weight: bolder;
  }
  dfn {
	font-style: italic;
  }
  h1 {
	font-size: 2em;
	margin: .67em 0;
  }
  mark {
	background-color: #ff0;
	color: #000;
  }
  small {
	font-size: 80%;
  }
  sub,
  sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
  }
  sub {
	bottom: -.25em;
  }
  sup {
	top: -.5em;
  }
  img {
	border-style: none;
  }
  svg:not(:root) {
	overflow: hidden;
  }
  code,
  kbd,
  pre,
  samp {
	font-family: monospace, monospace;
	font-size: 1em;
  }
  figure {
	margin: 1em 40px;
  }
  hr {
	box-sizing: content-box;
	height: 0;
	overflow: visible;
  }
  button,
  input,
  optgroup,
  select,
  textarea {
	font: inherit;
	margin: 0;
  }
  optgroup {
	font-weight: 700;
  }
  button,
  input {
	overflow: visible;
  }
  button,
  select {
	text-transform: none;
  }
  [type=reset],
  [type=submit],
  button,
  html [type=button] {
	-webkit-appearance: button;
  }
  [type=button]::-moz-focus-inner,
  [type=reset]::-moz-focus-inner,
  [type=submit]::-moz-focus-inner,
  button::-moz-focus-inner {
	border-style: none;
	padding: 0;
  }
  [type=button]:-moz-focusring,
  [type=reset]:-moz-focusring,
  [type=submit]:-moz-focusring,
  button:-moz-focusring {
	outline: 1px dotted ButtonText;
  }
  fieldset {
	border: 1px solid silver;
	margin: 0 2px;
	padding: .35em .625em .75em;
  }
  legend {
	box-sizing: border-box;
	color: inherit;
	display: table;
	max-width: 100%;
	padding: 0;
	white-space: normal;
  }
  textarea {
	overflow: auto;
  }
  [type=checkbox],
  [type=radio] {
	box-sizing: border-box;
	padding: 0;
  }
  [type=number]::-webkit-inner-spin-button,
  [type=number]::-webkit-outer-spin-button {
	height: auto;
  }
  [type=search] {
	-webkit-appearance: textfield;
	outline-offset: -2px;
  }
  [type=search]::-webkit-search-cancel-button,
  [type=search]::-webkit-search-decoration {
	-webkit-appearance: none;
  }
  ::-webkit-input-placeholder {
	color: inherit;
	opacity: .54;
  }
  ::-webkit-file-upload-button {
	-webkit-appearance: button;
	font: inherit;
  }
  html {
	font: 112.5%/1.45em georgia, serif;
	box-sizing: border-box;
	overflow-y: scroll;
  }
  * {
	box-sizing: inherit;
  }
  *:before {
	box-sizing: inherit;
  }
  *:after {
	box-sizing: inherit;
  }
  body {
	color: hsla(0, 0%, 0%, 0.8);
	font-family: georgia, serif;
	font-weight: normal;
	word-wrap: break-word;
	font-kerning: normal;
	-moz-font-feature-settings: "kern", "liga", "clig", "calt";
	-ms-font-feature-settings: "kern", "liga", "clig", "calt";
	-webkit-font-feature-settings: "kern", "liga", "clig", "calt";
	font-feature-settings: "kern", "liga", "clig", "calt";
  }
  img {
	max-width: 100%;
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	padding-bottom: 0;
	padding-left: 0;
	padding-right: 0;
	padding-top: 0;
	margin-bottom: 1.45rem;
  }
  h1 {
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	padding-bottom: 0;
	padding-left: 0;
	padding-right: 0;
	padding-top: 0;
	margin-bottom: 1.45rem;
	color: inherit;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
	  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	font-weight: bold;
	text-rendering: optimizeLegibility;
	font-size: 2.25rem;
	line-height: 1.1;
  }
  h2 {
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	padding-bottom: 0;
	padding-left: 0;
	padding-right: 0;
	padding-top: 0;
	margin-bottom: 1.45rem;
	color: inherit;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
	  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	font-weight: bold;
	text-rendering: optimizeLegibility;
	font-size: 1.62671rem;
	line-height: 1.1;
  }
  h3 {
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	padding-bottom: 0;
	padding-left: 0;
	padding-right: 0;
	padding-top: 0;
	margin-bottom: 1.45rem;
	color: inherit;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
	  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	font-weight: bold;
	text-rendering: optimizeLegibility;
	font-size: 1.38316rem;
	line-height: 1.1;
  }
  h4 {
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	padding-bottom: 0;
	padding-left: 0;
	padding-right: 0;
	padding-top: 0;
	margin-bottom: 1.45rem;
	color: inherit;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
	  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	font-weight: bold;
	text-rendering: optimizeLegibility;
	font-size: 1rem;
	line-height: 1.1;
  }
  h5 {
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	padding-bottom: 0;
	padding-left: 0;
	padding-right: 0;
	padding-top: 0;
	margin-bottom: 1.45rem;
	color: inherit;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
	  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	font-weight: bold;
	text-rendering: optimizeLegibility;
	font-size: 0.85028rem;
	line-height: 1.1;
  }
  h6 {
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	padding-bottom: 0;
	padding-left: 0;
	padding-right: 0;
	padding-top: 0;
	margin-bottom: 1.45rem;
	color: inherit;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
	  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	font-weight: bold;
	text-rendering: optimizeLegibility;
	font-size: 0.78405rem;
	line-height: 1.1;
  }
  hgroup {
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	padding-bottom: 0;
	padding-left: 0;
	padding-right: 0;
	padding-top: 0;
	margin-bottom: 1.45rem;
  }
  ul {
	margin-left: 1.45rem;
	margin-right: 0;
	margin-top: 0;
	padding-bottom: 0;
	padding-left: 0;
	padding-right: 0;
	padding-top: 0;
	margin-bottom: 1.45rem;
	list-style-position: outside;
	list-style-image: none;
  }
  ol {
	margin-left: 1.45rem;
	margin-right: 0;
	margin-top: 0;
	padding-bottom: 0;
	padding-left: 0;
	padding-right: 0;
	padding-top: 0;
	margin-bottom: 1.45rem;
	list-style-position: outside;
	list-style-image: none;
  }
  dl {
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	padding-bottom: 0;
	padding-left: 0;
	padding-right: 0;
	padding-top: 0;
	margin-bottom: 1.45rem;
  }
  dd {
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	padding-bottom: 0;
	padding-left: 0;
	padding-right: 0;
	padding-top: 0;
	margin-bottom: 1.45rem;
  }
  p {
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	padding-bottom: 0;
	padding-left: 0;
	padding-right: 0;
	padding-top: 0;
	margin-bottom: 1.45rem;
  }
  figure {
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	padding-bottom: 0;
	padding-left: 0;
	padding-right: 0;
	padding-top: 0;
	margin-bottom: 1.45rem;
  }
  pre {
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	padding-bottom: 0;
	padding-left: 0;
	padding-right: 0;
	padding-top: 0;
	margin-bottom: 1.45rem;
	font-size: 0.85rem;
	line-height: 1.42;
	background: hsla(0, 0%, 0%, 0.04);
	border-radius: 3px;
	overflow: auto;
	word-wrap: normal;
	padding: 1.45rem;
  }
  table {
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	padding-bottom: 0;
	padding-left: 0;
	padding-right: 0;
	padding-top: 0;
	margin-bottom: 1.45rem;
	font-size: 1rem;
	line-height: 1.45rem;
	border-collapse: collapse;
	width: 100%;
  }
  fieldset {
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	padding-bottom: 0;
	padding-left: 0;
	padding-right: 0;
	padding-top: 0;
	margin-bottom: 1.45rem;
  }
  blockquote {
	margin-left: 1.45rem;
	margin-right: 1.45rem;
	margin-top: 0;
	padding-bottom: 0;
	padding-left: 0;
	padding-right: 0;
	padding-top: 0;
	margin-bottom: 1.45rem;
  }
  form {
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	padding-bottom: 0;
	padding-left: 0;
	padding-right: 0;
	padding-top: 0;
	margin-bottom: 1.45rem;
  }
  noscript {
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	padding-bottom: 0;
	padding-left: 0;
	padding-right: 0;
	padding-top: 0;
	margin-bottom: 1.45rem;
  }
  iframe {
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	padding-bottom: 0;
	padding-left: 0;
	padding-right: 0;
	padding-top: 0;
	margin-bottom: 1.45rem;
  }
  hr {
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	padding-bottom: 0;
	padding-left: 0;
	padding-right: 0;
	padding-top: 0;
	margin-bottom: calc(1.45rem - 1px);
	background: hsla(0, 0%, 0%, 0.2);
	border: none;
	height: 1px;
  }
  address {
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	padding-bottom: 0;
	padding-left: 0;
	padding-right: 0;
	padding-top: 0;
	margin-bottom: 1.45rem;
  }
  b {
	font-weight: bold;
  }
  strong {
	font-weight: bold;
  }
  dt {
	font-weight: bold;
  }
  th {
	font-weight: bold;
  }
  li {
	margin-bottom: calc(1.45rem / 2);
  }
  ol li {
	padding-left: 0;
  }
  ul li {
	padding-left: 0;
  }
  li > ol {
	margin-left: 1.45rem;
	margin-bottom: calc(1.45rem / 2);
	margin-top: calc(1.45rem / 2);
  }
  li > ul {
	margin-left: 1.45rem;
	margin-bottom: calc(1.45rem / 2);
	margin-top: calc(1.45rem / 2);
  }
  blockquote *:last-child {
	margin-bottom: 0;
  }
  li *:last-child {
	margin-bottom: 0;
  }
  p *:last-child {
	margin-bottom: 0;
  }
  li > p {
	margin-bottom: calc(1.45rem / 2);
  }
  code {
	font-size: 0.85rem;
	line-height: 1.45rem;
  }
  kbd {
	font-size: 0.85rem;
	line-height: 1.45rem;
  }
  samp {
	font-size: 0.85rem;
	line-height: 1.45rem;
  }
  abbr {
	border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
	cursor: help;
  }
  acronym {
	border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
	cursor: help;
  }
  abbr[title] {
	border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
	cursor: help;
	text-decoration: none;
  }
  thead {
	text-align: left;
  }
  td,
  th {
	text-align: left;
	border-bottom: 1px solid hsla(0, 0%, 0%, 0.12);
	font-feature-settings: "tnum";
	-moz-font-feature-settings: "tnum";
	-ms-font-feature-settings: "tnum";
	-webkit-font-feature-settings: "tnum";
	padding-left: 0.96667rem;
	padding-right: 0.96667rem;
	padding-top: 0.725rem;
	padding-bottom: calc(0.725rem - 1px);
  }
  th:first-child,
  td:first-child {
	padding-left: 0;
  }
  th:last-child,
  td:last-child {
	padding-right: 0;
  }
  tt,
  code {
	background-color: hsla(0, 0%, 0%, 0.04);
	border-radius: 3px;
	font-family: "SFMono-Regular", Consolas, "Roboto Mono", "Droid Sans Mono",
	  "Liberation Mono", Menlo, Courier, monospace;
	padding: 0;
	padding-top: 0.2em;
	padding-bottom: 0.2em;
  }
  pre code {
	background: none;
	line-height: 1.42;
  }
  code:before,
  code:after,
  tt:before,
  tt:after {
	letter-spacing: -0.2em;
	content: " ";
  }
  pre code:before,
  pre code:after,
  pre tt:before,
  pre tt:after {
	content: "";
  }

  
/* FORM CONFIGURATION
input {
	font-size: 16px;
	min-height: 40px;
	border-radius: 25px;
	line-height: 20px;
	padding: 15px 30px 16px;
	border: 1px solid #b9b9af;
	margin-bottom: 10px;
	background-color: #fff;
	opacity: 0.9;
	-webkit-transition: background-color 0.2s;
	transition: background-color 0.2s;
}
.subscribe-input {
	float: left;
	width: 65%;
	text-align: left;
	margin-right: 2px;
} */

/* @media screen and (max-width: 767px) {
	.subscribe-input {
		width: 100%;
	}
}
.subscribe-submit {
	right: 0;
}
.btn-download {
	background: #FDE3A7;
} */

/*Buttons Configuration */
/* .btn-conf {
	border-radius: 50px;
	margin-right: 15px;
	font-size: 11px;
	letter-spacing: 1px;
	text-transform: uppercase;
	padding: 18px 28px 17px 28px;
	}
.btn-conf-2 {
	border-radius: 50px;
	margin-right: 15px;
	font-size: 11px;
	letter-spacing: 1px;
	text-transform: uppercase;
	padding: 12px 28px 11px 28px;
	margin-top: 20px;
	}
.btn-green {
	background: #03C9A9;
	color: white
} */

/* HEADER SECTION */
.header {
	/* FIND A BACKGROUND IMAGE */
	/* background: url(../assets//header.jpg) no-repeat center top; */ 
	/* padding-top: 180px; */
	text-align: center;
	background-attachment: relative;
	background-position: center center;
	/* min-height: 700px; */
	width: 100%;
	color: white;

    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.menu {
	background: #663399;
	height: 80px;
}

.header h1 {
  margin-top: 47px;
	font-weight: 700;
	color: #663399;
	font-size: 40px;
}

.menu .logo {
	color: white;
	top: 30px;
	left: 45px;
	font-size: 18px;
	font-weight: 900;
	position: absolute;
}

.menu .menu-list {
	top: 30px;
	right: 45px;
	font-size: 20px;
	position: absolute;
}

.menu .menu-list a {
	margin-left: 20px;
	color: white;
}


 
  

/* ABOUT */
.about {	
	display: flex;
	justify-content: space-end;
	/* background: #df8c8c; */
	padding-top: 80px; padding-bottom: 80px;
	/* width: 100%; */

}


.store {
	/* background: green; */
	display: flex;
	justify-content: space-evenly;
}

.store img {
	margin-right: 10px;
	margin-top: 20px;
}

p {
	padding: 0;
	margin-bottom: 12px;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 16px;
	line-height: 26px;
	letter-spacing: 1px;
	color: #666;
	margin-top: 10px;
}

.left-col {
	/* width: 50%; */
	border: 4px solid white;
}

.right-col {
	display: flex;
	justify-content: center;
	align-content: center;
	width: 50%;
	border: 4px solid black;
	padding: 0 5%;
}

/* BLOG */
.blogs {
	/* background: url(../assets//dummy.jpg) no-repeat center top; */

	/* background: rgb(0, 9, 88); */
	padding-top: 90px;
	text-align:center;
	background-attachment: relative;
	background-position: center center;
	min-height: 450px;
	width: 100%;
	color: white;

    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#blog h4 {
	letter-spacing: 1px;
	line-height: 30px;
	margin-top: 30px;
}

.projects {
	display: flex;
	justify-content: space-around;
	/* background: #03C9A9; */
	margin-top: 47px;
	border: 5px solid blue;
}

.portfolio {
	width: 70%;
	text-align: center;
	top:2%;
	border: 4px solid #03C9A9;
}

.portfolioHead {
	font-size: 2.4em;
	color: lavender;
}

.projectsHead {
	font-size: 1.5em;
}


/* FOOTER */
.footer {
	display: flex;
	justify-content: flex-start;
	padding-top: 60px;
	padding-bottom: 60px;
	background: #2f2f2f;
	color: white;
}

.footer h5 {
	margin-top: 30px;
	letter-spacing: 1px;
}

.footer i {
	font-size: 45px;
	margin: 15px;
}

.footer a {
	color: #b9b9b9;
}

.footer a:hover {
	color: #03C9A9;
}

.message h1 {
	width:800px;
	margin:0 auto;
	margin: 47px 0;
}

.img-ruff{
	 margin-top: 47px;
	 width:800px;
	 margin:0 auto;
}

@media (max-width: 880px) {
  .container {
    margin: 0px 20px;
    /* margin: auto 0; */
    width: 100%;
  }

  .header {
    flex-direction: column;
  }

  /* .nav {
    width: 90%;
    order: 2;
    margin-top: 40px;
  }

  .nav-list li {
    align-items: flex-end;
	} */
	


  .header-image {
    display: none;
  }

  .notfound {
    background: none;
  }

  .notfound .small-title {
    width: 100%;
  }
  .callus,
  .search-bar,
  .post-wrapper-top,
  .title-area,
  .social_buttons {
    float: none !important;
    clear: both !important;
    display: block !important;
    text-align: center !important;
  }
}


label {
  display: inline-block;
  text-align: left;
  margin-bottom: 16px;
  width: 100%;
}

input {
	width: 50%;
	font-size: 16px;
	min-height: 40px;
	border-radius: 25px;
	line-height: 20px;
	padding: 15px 30px 16px;
	border: 1px solid #b9b9af;
	margin-bottom: 10px;
	background-color: #fff;
	opacity: 0.9;
	-webkit-transition: background-color 0.2s;
	transition: background-color 0.2s;
}
	
.message {
	display: block;
	box-sizing: border-box;
	padding: 10px 16px;
	width: 50%;
	/* outline: 0;
	border: 1px solid #ccc;
	border-radius: 0;
	background: #fff;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	color: #616161;
	font-size: 18px;
	line-height: 1.3333333;
	transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s; */
}


.buttonSubmit {
	/* display: inline-block; */
	width: 74px;
	height: 47px;
  padding: 3px;
  border: 1px solid black;
  margin: 4px;
  cursor: pointer;
  border-radius: 7px;
  }

@media (max-width: 500px) {
	
   html {
		  font-size: 100%;
	}

  .container {
    width: 100%;
    margin: auto 0;
    padding: 0 5px;
	}
	
	
	.menu {
	 display: flex;
	 border: 3px solid red;
 }

  .header {
    justify-content: center;
  }

  .nav-list {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }

  .nav-list li {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
    padding: 15px 0;
    border-top: 1px solid gray;
    margin-top: 5px;
  }

  .nav-list li a {
    text-decoration: none;
	}
	
  .projects {
    flex-direction: column;
	}	
}

